body{
    font-family: poppins;
    max-width: 670px;
    margin: 0  auto;
    padding: 0;
    color: rgb(82, 81, 81);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 16px;
    padding: 16px 0px;
    color: rgb(173, 171, 171);
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 60px;
    margin-bottom: 16px;
}

header a{
    text-decoration: none;
    color: rgb(173, 171, 171);
    padding-right: 16px;
}

.potrait{
    width: 250px;
}

.main-content{
    flex-grow: 1;
}

input {
    outline: none;
    width: 200px;
    height: 16px;
    padding: 5px 10px;
    font-family: poppins;
    font-size: 12px;
    border: 1px solid #888888;
}

button {
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    outline: none;
    height: 28px;
    font-family: poppins;
}
#message-1{
    padding-top: 30px;
}
#message-2{
    font-size: 13px;
}